<section id="section-login">
    <h1>Login Your Account</h1>
    <form>
        <mat-form-field color="primary">
            <mat-label>First Name</mat-label>
            <input type="text" placeholder="Enter your name" matInput>
            <mat-error>This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field color="primary">
            <mat-label>Last Name</mat-label>
            <input type="text" placeholder="Enter your last-name" matInput>
            <mat-error>This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field color="primary">
            <mat-label>Email</mat-label>
            <input type="email" placeholder="Enter your email" matInput>
            <mat-error>This field is required.</mat-error>
        </mat-form-field>
    </form>
    <div class="div-btn">
        <button id="btn-login">
            Login
        </button> 
        <!-- <h2>{{signUpFg.value | json}}</h2> -->
    </div>
</section>
