<section id="section-servic">
    
    <h1>Shoping Made Easy <mat-icon>shop</mat-icon></h1>

    <div class="div-first">
        <div class="div-shoping">
            <button class="btn-shoping">
                <img class="img" src="assets/images/icons8-vip-50.png" alt="">
            </button>
            <p>Become a VIP for Free</p>
        </div>

        <div class="div-shoping">
            <button class="btn-shoping">
                <img class="img" src="assets/images/icons8-buy-64.png" alt="">
            </button>
            <p>Buy Online, Pick Up In Store</p>
        </div>

        <div class="div-shoping">
            <button class="btn-shoping">
                <img class="img" src="assets/images/icons8-sms-60.png" alt="">
            </button>
            <p>Opt-In Texts, Get 15% Off</p>
        </div>

        <div class="div-shoping">
            <button class="btn-shoping">
                <img class="img" src="assets/images/icons8-shipping-50.png" alt="">
            </button>
            <p>Get Free Shipping</p>
        </div>
    </div>

    <div class="div-seccond">
        <div class="div-shoping">
            <button class="btn-shoping">
                <p>afterpay</p>
                <img class="img" src="assets/images/icons8-afterpay-48 (1).png" alt="">
            </button>
            <p>Buy Now, Pay Later With Afterpay</p>
        </div>

        <div class="div-shoping">
            <button class="btn-shoping">
                <img class="img" src="assets/images/icons8-shoes-50.png" alt="">
            </button>
            <p>Donate Shoes. Save the Planet.</p>
        </div>

        <div class="div-shoping">
            <button class="btn-shoping">
                <img class="img" src="assets/images/icons8-return-baggage-64.png" alt="">
            </button>
            <p>Learn About Return & Exchanges</p>
        </div>

        <div class="div-shoping">
            <button class="btn-shoping">
                <img class="img" src="assets/images/icons8-gift-card-78.png" alt="">
            </button>
            <p>Buy a Gift Card</p>
        </div>
    </div>
    
    <div class="div-third">
        <div class="div-shoping">
            <button class="btn-shoping">
                <img class="img" src="assets/images/icons8-store-64.png" alt="">
            </button>
            <p>Shop Your Store</p>
        </div>
    </div>

</section>