<div class="div-home">
    <div class="div-h1">
        <h1>Some Product Of MotivShop</h1>
        <mat-icon>shop</mat-icon>
    </div>
    <mat-tab-group id="mat-tap" mat-stretch-tabs="false" mat-align-tabs="center">
       <mat-tab label="First">
          <img class="img-first" src="assets/images/shoese new.webp">
      </mat-tab>
       <mat-tab label="Second">
          <img class="img-second" src="assets/images/shoes2.jpeg">
      </mat-tab>
       <mat-tab label="Third">
          <img class="img-third" src="assets/images/shoes3.webp">
      </mat-tab>
    </mat-tab-group>
    
    <div class="div-off">
        <p class="p-matn-off">Discounted shoes for a limited time</p>
        <p class="p-darsad-off">70% OFF</p>
    </div>

    <section id="section-flex-item">
      <div class="div-first">
          <div class="div-shoes-item">
              <img class="img-first" src="assets/images/shoes off1.webp">
              <p class="p-name-shoes">adidas</p>
              <p class="p-price-shoes">Price: $55.99</p>
              <P class="p-off">70% OFF</P>
          </div>

          <div class="div-shoes-item">
              <img class="img-first" src="assets/images/shoes off2.jpg">
              <p class="p-name-shoes">Vans</p>
              <p class="p-price-shoes">Price: $66.99</p>
              <P class="p-off">70% OFF</P>
          </div>

          <div class="div-shoes-item">
              <img class="img-first" src="assets/images/shoes off3.jpg">
              <p class="p-name-shoes">adidas</p>
              <p class="p-price-shoes">Price: $40.99</p>
              <P class="p-off">70% OFF</P>
          </div>
      </div>

      <div class="div-second">
          <div class="div-shoes-item">
              <img class="img-second" src="assets/images/shoes off4.jpg">
              <p class="p-name-shoes">Nike</p>
              <p class="p-price-shoes">Price: $40.99</p>
              <P class="p-off">70% OFF</P>
          </div>

          <div class="div-shoes-item">
              <img class="img-second" src="assets/images/shoes off5.webp">
              <p class="p-name-shoes">adidas</p>
              <p class="p-price-shoes">Price: $40.99</p>
              <P class="p-off">70% OFF</P>
          </div>

          <div class="div-shoes-item">
              <img class="img-second" src="assets/images/shoes off6.webp">
              <p class="p-name-shoes">Nike</p>
              <p class="p-price-shoes">Price: $40.99</p>
              <P class="p-off">70% OFF</P>
          </div>
      </div>
    </section>

    <div class="div-click-btn">
        <p>Get 10% Off by completing your profile!</p>
        <button routerLink="/sign-up-user">Click Here</button>
    </div>
</div>