<section id="section-admin">
    <form action="">
        <h1>Admin Login<mat-icon>lock</mat-icon></h1>
        <mat-form-field color="primary">
            <mat-label>Email</mat-label>
            <input type="email" placeholder="Enter your email" matInput>
        </mat-form-field>

        <mat-form-field color="primary">
            <mat-label>Password</mat-label>
            <input type="password" placeholder="Enter your password" matInput>
        </mat-form-field>

        <button id="btn-done" mat-raised-button color="primary">
            Done<mat-icon>done</mat-icon>
        </button>
    </form>
</section>
